.bai {
    position: fixed;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(0);
    background: linear-gradient(40deg, #4caf5014, #ffeb3b17);
    border-radius: 10px;
   
}


button {
    position: fixed;
    width: 400px;
    height: 58px;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    background: #ED712E;
    border-radius: 8px;
}


#luatchoi {
    font-size: 30px;
}
#content {
    font-size: 20px;
}
#bai1 #bai2 #bai3{
    font-size: 24px;
}
span{
    color: #222222;
    font-size: 24px;
}
.rotate-form {
    animation: rotate 3s;
    animation-fill-mode: forwards; /* Giữ lại trạng thái cuối của animation */
}

@keyframes rotate {
    0% { transform: translate(-50%, -50%) rotateY(-180deg); opacity: 0; }
    100% { transform: translate(-50%, -50%) rotateY(0deg); opacity: 1; }
}
